@import url("https://fonts.googleapis.com/css?family=Cardo|Roboto:300&display=swap");

$font_color_white: white;
$title_font: "Cardo";
$subtitle_font: "Roboto";
$title_font_size_xxs: 0.9vw;
$title_font_size_xs: 14pt;
$title_font_size_sm: 1.5vw;
$title_font_size_md: 1.7vw;
$title_font_size_lg: 2vw;
$title_font_size_xlg: 85pt;

$p_line_height_sm: 35px;
$p_line_height_md: 25px;
$title_letter_spacing: 1px;

$theme_color_green: #6aaf08;

@mixin flex($justify_content) {
  display: flex;
  justify-content: $justify_content;
  align-items: center;
}

.navBar {
  @include flex(space-between);
  align-items: center;
  padding: 2vh 2vw 0vh 2vw;
  position: fixed;
  width: 100%;
  &__logoContainer {
    padding-left: 1vw;
    & img {
      cursor: pointer;
    }
  }
  &__navLinkContainer {
    display: flex;
    justify-content: space-around;
    margin-right: 4vw;
  }
  &__navLink {
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    color: $font_color_white;
    font-family: $title_font;
    font-size: $title_font_size_xs;
    margin: 0px 2vw 0px 2vw;
    cursor: pointer;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/heroImg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @include flex(center);
  &__heroTextContainer {
    width: 100%;
  }
  &__titleText {
    text-align: center;
    font-family: $title_font;
    font-size: $title_font_size_xlg;
    color: $font_color_white;
    font-weight: normal;
  }
  &__subtitleText {
    font-weight: normal;
    text-align: center;
    color: $font_color_white;
    font-family: $subtitle_font;
    font-size: $title_font_size_md;
    margin-bottom: 30px;
  }
}

.callToAction {
  height: 50vh;
  @include flex(space-between);
  flex-direction: row;
  padding: 3vh 12vw 1vh 12vw;
  &__descriptionContainer {
    @include flex(flex-start);
    flex-direction: column;
    align-items: unset;
    &__titleText {
      font-family: $title_font;
      font-size: $title_font_size_sm;
    }
    &__descriptionText {
      font-family: $subtitle_font;
      font-size: $title_font_size_xxs;
      line-height: $p_line_height_sm;
      margin-bottom: 10px;
    }
  }
  &__service {
    @include flex(space-between);
    flex-direction: column;
    padding: 0vh 4vw 0vh 4vw;
    &__titleText {
      text-align: center;
      font-family: $title_font;
      font-size: $title_font_size_sm;
      letter-spacing: $title_letter_spacing;
      margin: 5px 0px 5px 0px;
    }
    &__descriptionText {
      font-family: $subtitle_font;
      font-size: $title_font_size_xxs;
      line-height: $p_line_height_sm;
    }
  }
  &__servicesContainer {
    @include flex(space-between);
    flex-direction: row;
  }
}

.textLine {
  height: 4px;
  width: 10vw;
  margin: 10px 0px 10px 0px;
  background-color: $theme_color_green;
  &--green {
    @extend .textLine;
    background-color: $theme_color_green;
  }
  &--white {
    @extend .textLine;
    background-color: white;
  }
}

.button {
  font-weight: normal;
  font-family: $title_font;
  font-size: $title_font_size_xs;
  border-radius: 5px;
  border: none;
  color: $font_color_white;
  padding: 5px 30px 5px 30px;
  cursor: pointer;
  &__buttonContainer {
    width: 100%;
    display: flex;
    &--left {
      @include flex(flex-start);
    }
    &--center {
      @include flex(center);
    }
  }
  &--green {
    @extend .button;
    background-color: $theme_color_green;
  }
  &--white {
    @extend .button;
    background-color: transparent;
    border: 1px solid $font_color_white;
  }
  &--contactUs {
    @extend .button;
    background-color: transparent;
    border: 2px solid $font_color_white;
    padding: 5px 30px 5px 30px;
  }
}

.testimonial {
  width: 100%;
  background-color: $theme_color_green;
  &__text {
    margin-top: 10px;
    font-family: $subtitle_font;
    font-size: $title_font_size_xs;
    text-align: center;
    color: white;
    padding: 1vh 15vw 1vh 15vw;
    line-height: 2;
  }
  &__carousel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: transparent;
  }
}

.titleText {
  font-family: $title_font;
  font-size: $title_font_size_md;
  font-weight: normal;
  text-align: center;
  width: 100%;
  &--light {
    @extend .titleText;
    color: white;
  }
  &--dark {
    @extend .titleText;
    color: black;
  }
}

.img__responsive {
  width: 100%;
  height: auto;
}

body,
h1,
p {
  margin: 0px;
  padding: 0px;
}
